.person.all_wrapper {
  .content_wrapper .content {
    padding-left: 0;
  }
  .heading {
    font-weight: 700;
  }
}
.pagination_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  .pagination_item {
    border-radius: 4px;
    line-height: 1.4rem;
    padding: 10px;
    font-weight: 600;
    &.etc:hover {
      background-color: #fff;
      cursor: default;
    }
    &.active {
      border: 1px solid var(--darkBlue);
      &:hover {
        background-color: #fff;
        cursor: default;
      }
    }
    &:hover {
      background-color: var(--lightGrey);
      cursor: pointer;
    }
  }
  .pagination_item.adjust {
    display: flex;
    &:first-child {
      span {
        margin-left: 10px;
      }
    }
    &:last-child {
      span {
        margin-right: 10px;
      }
    }
  }
}
