.details_header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--lightGrey);
}
.details_header .header_nav_item .link {
  color: var(--darkBlue);
  font-weight: 400;
}
.details_banner_wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.details_banner_overlay {
  background-image: linear-gradient(
    to right,
    rgba(31.5, 31.5, 31.5, 1) 150px,
    rgba(31.5, 31.5, 31.5, 0.6) 100%
  );
  color: #fff;
  padding: 30px 0px;
  .score {
    position: relative;
  }
}
.details_banner {
  display: flex;
}
.details_banner_img {
  min-width: 300px;
  width: 300px;
  //   height: 450px;
  img {
    border-radius: 8px;
    width: 100%;
  }
}
.details_banner_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}
.desc_title * {
  font-size: 3.5rem;
  display: inline-block;
}
.desc_title {
  .name {
    font-weight: 700;
  }
  .year {
    opacity: 0.8;
  }
}
.desc_genres {
  display: flex;
  margin-bottom: 20px;
  .certification {
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    margin-right: 7px;
    padding: 0px 4px;
  }
  .time {
    position: relative;
    padding-left: 20px;
    &::before {
      font-size: 1.1em;
      line-height: 1;
      content: '\2022';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 7px;
      display: inline-flex;
      align-content: center;
      align-items: center;
    }
  }
}
.tippy-box[data-theme~='darkBlue'] {
  background-color: var(--darkBlue);
  color: #fff;
}
.tippy-box[data-theme~='darkBlue'][data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: var(--darkBlue);
}
.desc_actions {
  display: flex;
  margin-bottom: 20px;
  .score {
    display: flex;
    align-items: center;
    .card_rate_wrapper {
      width: 60px;
      height: 60px;
      position: initial;
      transform: translate(0);
    }
    .card_rate_text {
      font-size: 2rem;
    }
    .text {
      font-weight: 700;
      margin-left: 6px;
    }
  }
  .interact {
    display: flex;
    justify-content: center;
    align-items: center;
    .interact_item {
      cursor: pointer;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--darkBlue);
      border-radius: 50%;
      width: 46px;
      height: 46px;
      font-size: 1.4rem;
      .text {
        white-space: nowrap;
      }
      &.play_trailer {
        background-color: transparent;
        justify-content: flex-start;
        .text {
          margin-left: 10px;
          font-weight: 600;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
.tagline {
  opacity: 0.7;
  font-size: 1.76rem;
  font-style: italic;
}
.overview {
  h1 {
    font-size: 2rem;
    line-height: 2.6rem;
    margin: 10px 0;
    font-weight: 600;
  }
}
.character {
  display: flex;
}
.character_item {
  a {
    color: #fff;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  margin-top: 20px;
  flex: 0 0 33.33%;
  h3 {
    font-weight: 600;
  }
  span {
    font-size: 1.44rem;
  }
}
.content_wrapper {
  a {
    color: #000;
  }
  padding: 30px 0;
}
.content_left {
}
.section {
  border-bottom: 1px solid #d7d7d7;
  padding: 30px 0;
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    border: none;
  }
  .title {
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  .all {
    text-decoration: none;
    color: var(--darkBlue);
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
// CAST
.cast_title {
}
.cast_list {
  display: flex;
  overflow: scroll;
  padding-bottom: 20px;
}

.lazy-load-image-background.opacity.lazy-load-image-loaded {
  img {
    width: 100%;
  }
}
//Season
.season {
}
.season_item {
  width: 100%;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--lightGrey);
}
.season_img {
  min-width: 130px;
  width: 130px;
  height: 195px;
  display: flex;
  align-items: center;
}
.season_right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2,
  h4 {
    font-weight: 600;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  p {
    padding-top: 20px;
  }
}
//SOCIAL
.section_header {
  display: flex;
  .title {
    margin-right: 50px;
  }
}
.section_tabs {
  span {
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 24px;
    padding-bottom: 5px;
    cursor: pointer;
    display: inline-block;
    &.active {
      border-bottom: 4px solid #000;
    }
  }
}
.review_item {
  border-radius: 8px;
  border: 1px solid var(--lightGrey);
  padding: 20px;
  display: flex;
}
.review_img {
  width: 64px;
  min-width: 64px;
  height: 64px;
  margin-right: 20px;
  img {
    border-radius: 50%;
  }
}
.review_title {
  display: flex;
  h3 {
    margin-right: 8px;
    font-size: 2rem;
    font-weight: 700;
  }
  .review_rate {
    border-radius: 8px;
    color: #fff;
    padding: 1px 8px;
    background-color: #000;
    font-size: 1.4rem;
    display: flex;
    height: max-content;
    align-items: center;
    span {
      margin-left: 6px;
    }
  }
}
.review_date a {
  font-weight: 600;
  color: var(--lightBlue);
}
.review_content {
  padding-top: 20px;
  .rest {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
.discussion_item {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--lightGrey);
  padding: 12px 20px;
  margin-bottom: 10px;
}
.discussion_img {
  margin-right: 10px;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}
.discussion_topic {
  flex-basis: 40%;
}
.discussion_date {
  flex-basis: 30%;
  text-align: right;
  a {
    font-weight: 600;
  }
}
//MEDIA
.media .media_list {
  height: 300px;
  display: flex;
  overflow-x: scroll;
  border-radius: 8px;
  .lazy-load-image-background.opacity.lazy-load-image-loaded {
    img {
      height: 100%;
      width: auto;
    }
  }
  .youtube_frame {
    height: 100%;
    width: auto;
  }
}
.video_thumbnail {
  flex: 0 0 500px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .play_video {
    transition: all ease 0.25s;
    color: #fff;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      color: #a5a29e;
    }
  }
}
.recommendation_list {
  a {
    color: #000;
    &:hover {
      color: #000;
    }
  }
  display: flex;
  overflow: scroll;
  padding-bottom: 20px;
  .item {
    flex: 0 0 250px;
    margin-right: 15px;
    .item_img {
      position: relative;
      background-color: #d7d7d7;
      border-radius: 8px;
      overflow: hidden;
      &:hover .item_info {
        visibility: visible;
      }
      img {
        width: 100%;
        height: 141px;
      }
    }
    .item_desc {
      display: flex;
      justify-content: space-between;
    }
  }
}
.item_info {
  visibility: hidden;
  font-size: 1.4rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .info_left > * {
    margin-right: 10px;
    span {
      font-size: 1.6rem;
    }
  }
  .info_right > * {
    margin-left: 10px;
  }
  .info_left span {
    font-size: 1.6rem;
  }
}
.content_right {
  a {
    color: #000;
  }
  ul {
    padding: 5px 0;
  }
  li {
    display: inline-block;
    margin: 0 4px 4px 0;
    a {
      display: block;
      padding: 4px 10px;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid #d7d7d7;
      font-size: 1.3rem;
    }
  }
}
.panel {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  .network_img {
    display: flex;
    img {
      height: 30px;
    }
  }
  strong {
    display: block;
  }
}
.panel {
  .network_img {
    margin-bottom: 10px;
  }
}
.score_bar {
  padding: 6px 10px;
  background-color: var(--lightBlue);
  border-radius: 8px;
  p {
    font-weight: 600;
  }
}
.contributor {
  display: flex;
  img {
    border-radius: 50%;
  }
  &_info {
    padding-left: 10px;
    p {
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 900px) {
  .details_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details_banner_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    margin-top: 20px;
  }
  .desc_actions {
    flex-direction: column;
  }
  .desc_actions .interact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    .interact_item {
      margin-right: 10px;
      margin-left: 0;
    }
  }
}
