.header_wrapper {
  position: sticky;
  top: 0;
  height: 64px;
  background-color: var(--darkBlue);
  display: flex;
  align-items: center;
  z-index: 1;
}
.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_left {
    display: flex;
    align-items: center;
  }
  &_right {
    display: flex;
    align-items: center;
  }
  &_logo {
    height: 20px;
    width: 150px;
    margin-right: 16px;
    &_nav {
      color: white;
    }
  }
}
.header_nav_item {
  cursor: pointer;
  display: inline-block;
  color: white;
  position: relative;
  margin-right: 14px;
  text-decoration: none;
  font-weight: 600;
  padding: 8px;
  &.language {
    position: relative;
    font-size: 1.4rem;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0;
    transition: all 0.2s;
    & .language_text {
      &:hover {
        background-color: #fff;
        color: var(--darkBlue);
      }
      padding: 3px 5px;
    }
  }
  &.search {
    width: 20px;
    font-size: 2rem;
    color: #0ab5e0;
    padding-right: 0;
    margin-right: 0;
    &:hover {
      color: #0ab5e0;
    }
  }
  & .link {
    color: white;
    text-decoration: none;
  }
}
.header_right .header_nav_item {
  padding-bottom: 0;
}

.header_nav_item.avatar img {
  width: 32px;
  border-radius: 50%;
}

.header_nav_item:hover {
  color: white;
  & .header_subnav {
    display: block;
  }
}
.header_subnav {
  box-shadow: 0px 0px 2px #ccc;
  display: none;
  padding: 8px 0;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.header_subnav_link {
  white-space: nowrap;
  padding: 3px 64px 3px 24px;
  display: block;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: #16181b;
    background-color: #f8f9fa;
  }
}
.popup_wrapper {
  box-shadow: 1px 1px 2px #ccc;
  width: 300px;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  color: #000;
  white-space: nowrap;
  background-color: #fff;
  padding: 12px;
  border-radius: 4px;
  & .title {
    font-size: 1.6rem;
  }
  & .popup_title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12px;
  }
  &:before {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-bottom: 5px solid #fff;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.popup_notification {
  white-space: break-spaces;
}

#mobile-menu:checked ~ .mobile_nav_wrapper {
  transform: translateX(0);
  visibility: visible;
}
label[for='mobile-menu'] {
  display: none;
}
.menu_bar {
  font-size: 2rem;
  padding: 10px;
  padding-left: 0;
  cursor: pointer;
}
.mobile_nav_wrapper {
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--darkBlue);
}
.mobile_nav_item a {
  display: block;
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.mobile_nav_item > a {
  font-size: 2rem;
  font-weight: 600;
}
.mobile_nav {
  position: relative;
}
.mobile_icon_close {
  position: absolute;
  font-size: 2.5rem;
  padding: 0px 0px 10px 10px;
  top: 0;
  right: 0;
  cursor: pointer;
}
.header_nav_item.user {
  display: none;
}
.header_nav_item.user .header_subnav {
  left: 50%;
  transform: translateX(-50%);
  &::before {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-bottom: 5px solid #fff;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 992px) {
  .header_nav {
    display: none;
  }
  label[for='mobile-menu'] {
    display: block;
  }
  .header_nav_item.user {
    display: block;
  }
}
