@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
:root {
  --primaryColor: rgba(31.5, 10.5, 10.5, 1);
  --lightGreen: #87cca5;
  --darkBlue: #032541;
  --lightBlue: #03b4e4;
  --lightGrey: #e3e3e3;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a,
a * {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}
